<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo del sitio" id="logo" />
    <div id="form_busqueda">
        <div id="busqueda" class="display_flex">
            <form id="search_box" class="display_flex">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fas fa-search" id="search-icon"></i></button>
            </form>
        </div>
        <div id="frase_cuotas" class="display_flex justify_center">
            <i class="fas fa-hand-holding-usd" id="icon_hand"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <div id="nav_bar" class="oculto">
        <nav class=" display_flex">
            <ul class="display_flex" id="menu_principal">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                </br>
            </ul>
            <ul class="display_flex" id="menu_cliente"> 
                <div class="display_flex" class="div_cliente">
                    <li><a href="/register">Creá tu cuenta</a></li>
                    <i class="far fa-id-card" id="icon_2"></i>
                </div>
                <div class="display_flex" class="div_cliente">
                    <li><a href="/login">Ingresá</a></li>
                    <i class="fas fa-sign-in-alt" id="icon_2"></i>
                </div>
                <div class="display_flex" class="div_cliente">
                    <li><a href="">Mis compras</a></li>
                    <i class="fas fa-shopping-basket" id="icon_2"></i>
                </div>
            </ul>
            <div class="burger-menu display_flex justify_center">
                <div id="menu_hamb" class="display_flex align_center justify_center">
                <i class="fas fa-bars" id="icon-hamb"></i>
            </div>
        </nav>
    </div>
</header>
<main>
  <form action="/views/register" method="post" class="formulario">
    <h4>Ingresá a tu cuenta</h4>
    <div class="display_flex">
      <label for="user_name" class="titulo">Nombre de usuario</label>
      <input required type="text" id="user_name" name="user_name" placeholder="Nombre de usuario"/>
    </div>
    <div class="display_flex">
        <label for="password" class="titulo">Contraseña</label>
        <input required type="password" id="password" name="password" placeholder="Contraseña"/>
    </div>
    <div class="display_flex botones">
        <label for="submit"><input type="submit" name="submit" id="submit" value="Enviar"></label>
    </div>
  </form> 
</main>
<footer>
  <div>
      <i class="fas fa-credit-card icon-footer"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
          seguro!</p>
  </div>
  <div>
      <i class="fas fa-gift icon-footer"></i>
      <h4>Envío gratis desde $2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
          Mercado Puntos.</p>
  </div>
  <div>
      <i class="fas fa-user-shield icon-footer"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@
      </p>
  </div>
  <div id="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </div>
</footer>
</body>