<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo del sitio" id="logo" />
    <div id="busqueda">
        <div id="barra_busqueda" class="display_flex align_center justify_center">
            <form action="#" method="POST">
                <input id="input_busqueda" type="search" placeholder="Busqueda">
            </form>
            <div>
                <i class="fas fa-search" id="search-icon"></i>
            </div>
        </div>
        <div id="frase_cuotas" class="display_flex justify_center">
            <i class="fas fa-hand-holding-usd" id="icon_hand"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <div id="nav_bar" class="oculto">
        <nav class=" display_flex">
            <ul class="display_flex" id="menu_principal">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                </br>
            </ul>
            <ul class="display_flex" id="menu_cliente"> 
                <div class="display_flex" class="div_cliente">
                    <li><a href="/register">Creá tu cuenta</a></li>
                    <i class="far fa-id-card" id="icon_2"></i>
                </div>
                <div class="display_flex" class="div_cliente">
                    <li><a href="/login">Ingresá</a></li>
                    <i class="fas fa-sign-in-alt" id="icon_2"></i>
                </div>
                <div class="display_flex" class="div_cliente">
                    <li><a href="">Mis compras</a></li>
                    <i class="fas fa-shopping-basket" id="icon_2"></i>
                </div>
            </ul>
            <div class="burger-menu display_flex justify_center">
                <div id="menu_hamb" class="display_flex align_center justify_center">
                <i class="fas fa-bars" id="icon-hamb"></i>
            </div>
        </nav>
    </div>
</header>
<main>
  <form action="/views/register" method="post" class="formulario">
    <h4>Registrate con nosotros</h4>
    <div class="display_flex">
      <label for="name" class="titulo">Nombre y apellido</label>
      <input required type="text" id="name" name="name" placeholder="Nombre y apellido"/>
    </div>
    <div class="display_flex">
      <label for="user_name" class="titulo">Nombre de usuario</label>
      <input required type="text" id="user_name" name="user_name" placeholder="Nombre de usuario"/>
    </div>
    <div class="display_flex">
      <label for="birthdate" class="titulo">Fecha de Nacimiento</label>
      <input required type="date" id="birthdate" name="birthdate"/>
    </div>
    <div class="display_flex">
      <label for="domicilio" class="titulo">Domicilio</label>
      <input required type="text" id="domicilio" name="domicilio" placeholder="Domicilio"/>
    </div>
    <div class="display_flex">
      <label for="user_tipo" class="titulo">Perfil de usuario</label>
      <label for="user_tipo"><input type="radio" id="user_tipo" name="user_tipo"/>Vendedor</label>
      <label for="user_tipo"><input type="radio" id="user_tipo" name="user_tipo"/>Comprador</label>
    </div>
    <div class="display_flex">
      <label for="intereses" class="titulo">Intereses</label>
      <label for="intereses"><input type="checkbox" name="electro" id="intereses"/>Electro</label>
      <label for="intereses"><input type="checkbox" name="moda" id="intereses"/>Moda</label>
      <label for="intereses"><input type="checkbox" name="hogar" id="intereses"/>Hogar</label>
      <label for="intereses"><input type="checkbox" name="jugueteria" id="intereses"/>Jugueteria</label>
      <label for="intereses"><input type="checkbox" name="vida_saludable" id="intereses"/>Vida Saludable</label>
    </div>
    <div class="display_flex">
      <label for="foto_perfil" class="titulo">Foto de Usuario</label>
      <input required type="file" name="foto_perfil" id="foto_perfil" accept=".jpg , .png"/>
    </div>
    <div class="display_flex">
      <label for="contraseña" class="titulo">Contraseña</label>
      <input required type="password" name="contraseña" id="contraseña"/>
    </div>
    <div class="display_flex">
      <label for="confirm_contraseña" class="titulo">Confirmar Contraseña</label>
      <input required type="password" name="confirm_contraseña" id="confirm_contraseña"/>
    </div>
    <div class="display_flex botones">
      <label for="submit"><input type="submit" name="submit" id="submit" value="Enviar"></label>
      <label for="borrar"><input type="reset" name="reset" id="reset" value="Borrar"></label>
    </div>
  </form> 
</main>
<footer>
  <div>
      <i class="fas fa-credit-card icon-footer"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
          seguro!</p>
  </div>
  <div>
      <i class="fas fa-gift icon-footer"></i>
      <h4>Envío gratis desde $2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
          Mercado Puntos.</p>
  </div>
  <div>
      <i class="fas fa-user-shield icon-footer"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@
      </p>
  </div>
  <div id="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </div>
</footer>
</body>